/*HOME PAGE CSS*/

body {
   padding: 0px;
  margin: 0px;
   font-family: 'Space Mono', monospace;
   color: black;
   background-color: #e1edf0;
   font-size: 1rem;
   line-height: 1.2;
    letter-spacing: -.5px;
}

hr {
      margin-block-end: 5px;
}

.description img{
  height: 60px;
}

.sparkle {
  position: absolute;
  display: flex;
   right: 0px;
}

.sparkle img{
  height: 255px;
  object-fit: cover;
}

.header {
  bottom:25px;
  text-align: right;
  right:25px;
  position: fixed;
  z-index: 400;
}

.header a{
  text-decoration: none;
  border-radius: 80%;
  padding:6px;
  border: 1px solid black;
  letter-spacing: -.01px;
  color:whitesmoke; 
  margin-top: 20px;
  line-height: 1.3;
  background-color: black;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 20%;}
.col-2 {width: 16.66%;}
.col-3 {width: 80%;
      font-size: .90rem;
      margin-left: 300px;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 19%;
   color: whitesmoke;
   height: 100%;
   position: fixed;
   background-color: black;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%; margin-left: 25vw;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.description {
  margin: 5;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
  column-count: 1;
  hyphens: auto;
  z-index: 100;
}


.italic {
  font-family: untitled-sans-web-regular-italic;
  font-style: oblique;
}

.serifitalic {
  font-family: untitled-sans-web-regular-italic;
  font-style: oblique;
}

.archives {
 font-size: 3rem; 
 letter-spacing: -.2rem;
 text-align: center;
 padding-left: 10px;
}

h1 {
   margin: 0;
  padding: 0px;
   line-height: 1.2;
   font-size: 1.75rem;
   font-weight: normal;
}

.descriptions {
  width: 45%;
  padding-right: 15px;
  
}

.descriptions p{
   font-size: .85rem;
   hyphens: auto;

}

.description a {
  text-decoration: none;
  border-radius: 80%;
  padding:6px;
  border: 1px solid whitesmoke;
  letter-spacing: -.01px;
  color:whitesmoke; 
  margin-top: 20px;
  line-height: 1.3;
}

/*.pics {
  margin: 10;
  padding: 0;
  padding-right: 2vw;
  color: whitesmoke;
     z-index: 30;
     position: relative;
}

.pics a{
  text-decoration: underline;
  color:black; 
} 

.pics img {
   width:28%;
  padding-top: 0px;
   padding-left: 0px;
  padding-bottom: 2.5px;
   margin: 0px;
}*/
   .title{
  margin: 10px ,20px;

}

.container{
  margin-left: 22vw;

}

  .scrollable-div {
      /*margin-left: 30vw;*/
      height: 55vh;
      width: 142.5vh;

      overflow-x: auto;
      white-space: nowrap;
  /*    border: 1px solid #ccc;*/
    }

    .scrollable-div img {
      max-width: 100%;
      max-height: 95%;
      display: inline-block;
      margin-right: 10px;
    }

    .scrollable-div::-webkit-scrollbar {
      width: 8px;
    }

    .scrollable-div::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px grey;
      border-radius: 8px;
    }

    .scrollable-div::-webkit-scrollbar-thumb {
      background: grey; 
      border-radius: 8px;
    }

    .scrollable-div::-webkit-scrollbar-thumb:hover {
      background: black;
    }


@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

.header {
margin-top: 10px;
}

.description img{
  height: 70px;
}

.sparkle {
display: none;
/*  transform: rotate(-90deg);*/
}


body {
  font-size: 1rem;

}

h1 {
  padding-top:0px;
  line-height: 1;
  font-size: 1rem;
  padding-bottom: 5px;
}

.description {
  columns: 1;
  height: auto;
  padding-bottom: 5px;
  margin: 5px;
}

.description p{
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
}

.pics {
  margin: 0;
  padding: 0;
  padding-top: 15px;

}

.pics a{
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.pics img {
   padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;


}
}
